.calc-items {
    display: grid;
    row-gap: 15px;
    /* font-size: 20px; */
    text-align: left;
}

.calc-inputs {
    height: 40px;
    padding-left: 10px;
    outline: none;
    border-radius: 7px;
}

.input-label {
    margin-right: 25px;
}

.calc-title {
    /* font-size: 30px; */
    font-weight: bolder;
    margin: 80px 0;
}

.calc-subtitle {
    font-size: 20px;
    font-weight: bolder;
    margin: 25px 0;
}

.darkmode-input {
    background-color: #3a475e;
}

.calc-returns {
    margin: 15px 0;
}

.btc-input {
    margin-top: 20px;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-align {
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorMode-button {
    margin-bottom: 32px;
    margin-right: 10px;
}

.router-link {
    text-decoration: none !important;
}

.footer-topdiv {
    display: flex;
    align-items: center;
}
