.App {
	font-family: sans-serif;
	text-align: center;
}

.css-17b9waw {
	align-content: flex-start;
}

.candlestick-chart {
	color: rgb(49, 60, 71);
}

.list-none {
	list-style-type: none !important;
}

.side-bar {
	position: absolute;
	left: 0;
}

/* .leaderboardLabel {
} */

.userInfo {
	display: flex;
}

.money {
	display: flex;
}
.username {
	width: 300px;
}
.cash {
	width: 300px;
}
.assets {
	width: 200px;
}
